/* Computer Science Capstone Project */
/* School Supplies Store */
/* Alexander Poth */

/* Main Stylesheet */

body {
  font-size:1em;
  font-family:Arial;
  background:lightblue;
}

#todaysDeals {
  font-weight:bold;
  height: fit-content;
}

li {
  display: inline;
}

#contactDiv{
  border-style:groove;
  font-weight: bold;
}

body{
  border-style: double;
}
